# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
*.egg-info/
.installed.cfg
*.egg

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Data
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 